<?xml version="1.0" encoding="utf-8"?>

<system>
	<global>
		<nbhost>2</nbhost>
		<nbmetadata>8</nbmetadata>
		<loadbalancing>1</loadbalancing>
		<mssize unit="object">40</mssize>
		<mosize>4K</mosize>
	</global>
	<maintenance>
		<model>no</model>
	</maintenance>
	<path>
		<matrix>env/matrix.raw</matrix>
	</path>
</system>
